/* Fonts */

@font-face {
    font-family: Blastimo;
    src: url(/fonts/BLASTIMO\ SANS.ttf);
}

@font-face {
    font-family: Fifties;
    src: url(fonts/Fifties\ Movies.ttf);
}

@font-face {
    font-family: Marola;
    src: url(fonts/MAROLA__.TTF);
}

@font-face {
    font-family: Dyslexia;
    src: url(fonts/OpenDyslexicAlta-Bold.otf);
}

/* Mobile First Media Queries */
/* smallest*/
@media (min-width: 475px) {


} 

/* small */
@media (min-width: 640px) {


} 

/* medium */
@media (min-width: 768px) {

} 

/* large */
@media (min-width: 1024px) {

} 

/* extra large */
@media (min-width: 1280px) {

}

/* larges */
@media (min-width: 1536px) {

}

/* Styles for Elements */

/* logo in nav */

.logo {
    max-width: 30px;
    height: 30%;


}

h1 {
    font-family: dyslexia;
}